.carService-outer {
  position: relative;
  background-color: white;
  font-size: 26px;
  color: #000;
  .query-link {
    border-bottom: 1px solid #dbdbdb;
    line-height: 88px;
    a {
      display: block;
      padding-left: 50px;
    }
  }
  .subscribeService {
    margin-left: 30px;
    a {
      display: block;
      padding-left: 0;
    }
  }
}
